.cart-page {
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;

	.cart-summary-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100%;

		.item-list {
			width: 100%;
		}
		.empty-cart-message {
			display: flex;
			justify-content: center;
		}
	}
}