.item-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-self: center;
	width: 80%;
	
	.item-image {
		max-height: 150px;
	}

	.item-info-container {
		display: flex;
		flex-flow: column nowrap;
		width: 40%;
		justify-content: space-between;
		align-items: center;
	}

	.item-availability {

	}
	.item-quantity {

	}

	.remove-button {
		align-self: flex-start;
	}
}