.product-container {
	width: 90%;
	align-self: center;
	margin-bottom: 20px;

	.product-image {
		margin-top: 10px;
		max-height: 400px;
		object-fit: contain;
		
	}

	.carousel {
		max-width: 600px;
		height: 400px;
		object-fit: contain;
		align-self: center;
	}

}