.shop-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 70px;

	.page-header {
		margin-left: 20px;
	}

	.products-container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
}