.nav-container {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	background-color: #008080;
	z-index: 10;

	.links-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: 'space-between';
		align-items: center;
		margin-right: 20px;

		.link {
			display: flex;
			flex-flow: row nowrap;
			color: white;
			text-decoration: none;
			align-items: center;
			margin-right: 20px;

			.items-number {
				width: 18px;
				font-size: 12px;
				background-color: red;
				border-radius: 8px;
				text-align: center;
			}
		}
	}

	.logo-container {

		.logo {
			height: 50px;
			margin-left: 20px;
		}
	}
}